# Within this file, it is possible to define certain parameters that will be utilized during the program's execution

# Path to the 2D mesh file
mesh_2d_path=../mesh/squareBenchmark2D.msh

# Path to the 3D mesh file
mesh_3d_path=../mesh/cubeBenchmark3D.msh

# Polynomial degree for velocity
degree_velocity=2

# Polynomial degree for pressure
degree_pressure=1

# Simulation period (T)
T=2.0

# Time step (deltat)
deltat=0.5

# Reynolds number
Re=100.0
